<html>
    <head>
        <title>Login</title>
    </head>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/dashboard-no-salt-secure" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <a href="/register">Register</a>
</html>