<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/add-user-no-salt" method="post">
            <input type="text" name="first_name" placeholder="First Name" required>
            <br/>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <br/>
            <input type="text" name="username" placeholder="Username" required>
            <br/>
            <input type="password" name="password" placeholder="Password" required>
            <br/>
            <input type="submit" value="Register">
        </form>
    </body>
</html>